<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
	<Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" charset="IBM850" />
     </Console>
     <File name="fichier" fileName="cmdline.log" immediateFlush="false" append="true">
         <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
     </File>
  </Appenders>
  <Loggers>
    <Logger name="org.leplan73.outilssgdf" level="info" additivity="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="fichier"/>
    </Logger>
    <Logger name="org.apache.http" level="info" additivity="false">
      <AppenderRef ref="fichier"/>
      <AppenderRef ref="console"/>
    </Logger>
    <Logger name="org.apache.http.wire" level="error" additivity="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="fichier"/>
    </Logger>
    <Root level="err">
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>
</Configuration>
