<configuration>

	<appender name="appender"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/outilssgdf.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>outilssgdf-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>60</maxHistory>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	
	<appender name="FILE_DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
  <file>log/outilssgdf-debug.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>log/outilssgdf-debug-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>60</maxHistory>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<logger name="com.jcabi.manifests" level="OFF"></logger>
	<logger name="org.apache.commons.jexl2.JexlEngine" level="OFF"></logger>
	<logger name="net.sf.jett" level="OFF"></logger>

	<logger name="org.leplan73.outilssgdf.cmd" level="info" additivity="false">
		<appender-ref ref="appender" />
    	<appender-ref ref="FILE" />
	</logger>
  
  <logger name="org.leplan73.outilssgdf.intranet" level="info" additivity="false">
	<appender-ref ref="FILE_DEBUG" />
  </logger>
</configuration>