<configuration>

  <appender name="appender" class="org.leplan73.outilssgdf.gui.utils.Appender">
  </appender>
  
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
  <file>log/outilssgdf-gui.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>outilssgdf-gui-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>60</maxHistory>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<logger name="com.jcabi.manifests" level="OFF"></logger>
	  <root level="error">
	    <appender-ref ref="appender" />
		<appender-ref ref="FILE" />
	  </root>
  
  <logger name="org.leplan73.outilssgdf.gui" level="info" additivity="false">
   <appender-ref ref="appender" />
	<appender-ref ref="FILE" />
  </logger>
</configuration>